<div class="search-container">
  <h2>Search Results for "{{ query }}"</h2>
  
  <ng-container *ngIf="!isLoading; else loading">
    <div *ngIf="searchResult.length > 0; else noResults" class="products-grid">
      <div class="product-card" *ngFor="let product of searchResult">
        <div class="card-image-container" (click)="viewProductDetails(product.id)">
          <img [src]="product.uploadPhoto" class="card-image" [alt]="product.name">
        </div>
        <div class="card-body">
         <div class="name-heart-container">
            <h3 class="product-name">{{ product.name }}</h3>
            <i class="fa-regular fa-heart heart-icon"></i>
          </div>
          <p class="product-price">${{ product.price | number }}</p>
        </div>
        <button class="add-to-cart-btn" (click)="addToCart(product)">
          Add to cart
        </button>
      </div>
    </div>
    
    <ng-template #noResults>
      <div class="no-results">
        <p>No products found matching your search.</p>
      </div>
    </ng-template>
  </ng-container>
  
  <ng-template #loading>
    <div class="loading-spinner">
      <div class="spinner"></div>
    </div>
  </ng-template>
</div>